<!-- Post Item -->
<div class='col-lg-6 offers_col'>
    <div class='offers_item'>
        <div class='row'>
            <div class='col-lg-6'>
                <div class='offers_image_container'>
                    <div class='offers_image_background'
                         style='background-image:url(<%=post_route_img_1%>)'></div>
                    <div class='offer_name'><a href='<%=post_route_1%>'><%=post_title_1%></a></div>
                </div>
            </div>
            <div class='col-lg-6'>
                <div class='offers_content'>
                    <div class='offers_views'>999<span>view</span></div>
                    <div class='offers_likes'>500<span>like</span></div>
                    <div class='offers_shares'>100<span>share</span></div>
                    <div class='rating_r rating_r_5 offers_rating'>
                        <i></i> <i></i> <i></i> <i></i> <i></i>
                    </div>
                    <p class='offers_text'>
                        <%=post_description_1%>
                    </p>
                    <div class='offers_icons'>
                        <ul class='offers_icons_list'>
                            <li class='offers_icons_item'><img src='images/post.png' alt=''></li>
                            <li class='offers_icons_item'><img src='images/compass.png' alt=''></li>
                            <li class='offers_icons_item'><img src='images/bicycle.png' alt=''></li>
                            <li class='offers_icons_item'><img src='images/sailboat.png' alt=''></li>
                        </ul>
                    </div>

                    <div class='button offers_link'>
                        <div class='button_bcg'></div>
                        <a href=''<%=post_route_1%>'>Đọc thêm<span></span><span></span><span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
